# Access API

In [1]:
import requests
import pandas as pd

In [2]:
# url = 'http://api-pokemon-baron.herokuapp.com/pokemon?generation=1&legendary=True'
url = 'http://api-pokemon-baron.herokuapp.com/pokemon'
# url = 'http://api-pokemon-baron.herokuapp.com/pokemon/145'

In [3]:
# res = requests.get(url)
res = requests.get(url, params={ "generation" : 1, "legendary" : "True"})

In [4]:
print(type(res))

<class 'requests.models.Response'>

In [5]:
data = res.json()

In [6]:
print(data)

[{'id': 144, 'Name': 'Articuno', 'Type 1': 'Ice', 'Type 2': 'Flying', 'Total': 580, 'HP': 90, 'Attack': 85, 'Defense': 100, 'Sp. Atk': 95, 'Sp. Def': 125, 'Speed': 85, 'Generation': 1, 'Legendary': 'True'}, {'id': 145, 'Name': 'Zapdos', 'Type 1': 'Electric', 'Type 2': 'Flying', 'Total': 580, 'HP': 90, 'Attack': 90, 'Defense': 85, 'Sp. Atk': 125, 'Sp. Def': 90, 'Speed': 100, 'Generation': 1, 'Legendary': 'True'}, {'id': 146, 'Name': 'Moltres', 'Type 1': 'Fire', 'Type 2': 'Flying', 'Total': 580, 'HP': 90, 'Attack': 100, 'Defense': 90, 'Sp. Atk': 125, 'Sp. Def': 85, 'Speed': 90, 'Generation': 1, 'Legendary': 'True'}, {'id': 150, 'Name': 'Mewtwo', 'Type 1': 'Psychic', 'Type 2': 'Dark', 'Total': 680, 'HP': 106, 'Attack': 110, 'Defense': 90, 'Sp. Atk': 154, 'Sp. Def': 90, 'Speed': 130, 'Generation': 1, 'Legendary': 'True'}, {'id': 150, 'Name': 'MewtwoMega Mewtwo X', 'Type 1': 'Psychic', 'Type 2': 'Fighting', 'Total': 780, 'HP': 106, 'Attack': 190, 'Defense': 100, 'Sp. Atk': 154, 'Sp. Def': 100, 'Speed': 130, 'Generation': 1, 'Legendary': 'True'}, {'id': 150, 'Name': 'MewtwoMega Mewtwo Y', 'Type 1': 'Psychic', 'Type 2': 'Electric', 'Total': 780, 'HP': 106, 'Attack': 150, 'Defense': 70, 'Sp. Atk': 194, 'Sp. Def': 120, 'Speed': 140, 'Generation': 1, 'Legendary': 'True'}]

In [7]:
print(type(data))

<class 'list'>

In [8]:
text = res.text
print(text)

[{"id":144,"Name":"Articuno","Type 1":"Ice","Type 2":"Flying","Total":580,"HP":90,"Attack":85,"Defense":100,"Sp. Atk":95,"Sp. Def":125,"Speed":85,"Generation":1,"Legendary":"True"},{"id":145,"Name":"Zapdos","Type 1":"Electric","Type 2":"Flying","Total":580,"HP":90,"Attack":90,"Defense":85,"Sp. Atk":125,"Sp. Def":90,"Speed":100,"Generation":1,"Legendary":"True"},{"id":146,"Name":"Moltres","Type 1":"Fire","Type 2":"Flying","Total":580,"HP":90,"Attack":100,"Defense":90,"Sp. Atk":125,"Sp. Def":85,"Speed":90,"Generation":1,"Legendary":"True"},{"id":150,"Name":"Mewtwo","Type 1":"Psychic","Type 2":"Dark","Total":680,"HP":106,"Attack":110,"Defense":90,"Sp. Atk":154,"Sp. Def":90,"Speed":130,"Generation":1,"Legendary":"True"},{"id":150,"Name":"MewtwoMega Mewtwo X","Type 1":"Psychic","Type 2":"Fighting","Total":780,"HP":106,"Attack":190,"Defense":100,"Sp. Atk":154,"Sp. Def":100,"Speed":130,"Generation":1,"Legendary":"True"},{"id":150,"Name":"MewtwoMega Mewtwo Y","Type 1":"Psychic","Type 2":"Electric","Total":780,"HP":106,"Attack":150,"Defense":70,"Sp. Atk":194,"Sp. Def":120,"Speed":140,"Generation":1,"Legendary":"True"}]

In [9]:
print(type(text))

<class 'str'>

In [10]:
pd.DataFrame(data, columns=data[0].keys())

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,Dark,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
5,150,MewtwoMega Mewtwo Y,Psychic,Electric,780,106,150,70,194,120,140,1,True

# Access Local JSON File

### 1st Example

In [11]:
import json

In [12]:
pokemonList = []

with open('1stlegendary.json') as json_file:  
    data = json.load(json_file)
   
    for item in data :
        pokemonList.append(item)
        
dfPokemon = pd.DataFrame(pokemonList, columns=pokemonList[0].keys())
dfPokemon

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,Dark,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
5,150,MewtwoMega Mewtwo Y,Psychic,Electric,780,106,150,70,194,120,140,1,True

In [13]:
pokemonList = []

with open('2ndlegendary.json') as json_file:  
    data = json.load(json_file)
   
    for item in data['data'] :
        pokemonList.append(item)
        
dfPokemon = pd.DataFrame(pokemonList, columns=data['columns'], index=data['index'])
dfPokemon

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,243,Raikou,Electric,Fairy,580,90,85,75,115,100,115,2,True
1,244,Entei,Fire,Fighting,580,115,115,85,90,75,100,2,True
2,245,Suicune,Water,Psychic,580,100,75,115,90,115,85,2,True
3,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
4,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True

### 2nd Example

In [14]:
dfPokemon = pd.read_json('1stlegendary.json', orient='records')
dfPokemon

,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,id
0,85,100,1,90,True,Articuno,95,125,85,580,Ice,Flying,144
1,90,85,1,90,True,Zapdos,125,90,100,580,Electric,Flying,145
2,100,90,1,90,True,Moltres,125,85,90,580,Fire,Flying,146
3,110,90,1,106,True,Mewtwo,154,90,130,680,Psychic,Dark,150
4,190,100,1,106,True,MewtwoMega Mewtwo X,154,100,130,780,Psychic,Fighting,150
5,150,70,1,106,True,MewtwoMega Mewtwo Y,194,120,140,780,Psychic,Electric,150

In [15]:
dfPokemon = pd.read_json('2ndlegendary.json', orient='split')
dfPokemon

,id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,243,Raikou,Electric,Fairy,580,90,85,75,115,100,115,2,True
1,244,Entei,Fire,Fighting,580,115,115,85,90,75,100,2,True
2,245,Suicune,Water,Psychic,580,100,75,115,90,115,85,2,True
3,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
4,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True